/* GLOBAL
----------------------------*/
body { 
    background-color: oldlace;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
a {
    text-decoration: none;
    color: teal;
}
.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;
}
img {
    width: 300px;
}
/* PROFILE
----------------------------*/
header {
    background-color: moccasin;
}
h1 {
    color: blue;
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-family: 'Limelight', cursive;
    border-style: solid;
    border-color: orange;
    border-width: 2px;
    padding: 5px;
}

.jobtit {
    color: lightslategray;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
    
}

/* PROJECTS
----------------------------*/

.project a {
    background-color: moccasin;
    border-radius: 4px;
    padding: 8px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.project a:hover {
    text-decoration: underline;
}

.project h2{
    font-weight: 700;
    font-size: 40px;
    text-decoration: underline;
}
.pro-pic {
    overflow: hidden;
    padding: 20px;
    border-bottom: solid; 
}
.pro-pic img {
    float: left;
    padding: 5px;
}
.pro-pic h3 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 2px;
}


/* WORK
----------------------------*/
.work h2 {
    font-weight: 700;
    font-size: 40px;
    text-decoration: underline;
}
.work-pic {
    overflow: hidden;
    padding: 20px;
    
}
.work-pic img {
    float: left;
    padding: 5px;
}
.work-pic h3 {
    font-size: 30px;
    margin-top: 0;
}


/* EDUCATION
----------------------------*/
.education {
    background-image: url(images/books.jpg);
    background-size: cover;
    padding-bottom: 100px;
}
.education h2 {
    font-weight: 700;
    font-size: 40px;
    text-decoration: underline;
}



/* CONTACTS
----------------------------*/
footer {
    background-color: moccasin;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    
}
footer h2 {
    font-family: 'Limelight', cursive;
}
.contact-list {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    list-style-type: none;
    font-size: 20px;

}
.contact-list a {
    padding: 15px;
}

.contact-list a:hover {
    text-decoration: underline;
}
.credit {
    font-size: 10px;
}